@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-de-fundo:#ffffff;
    --cor-texto:#000000;
    --cor-rodape: grey;
    --font-texto: "Montserrat" , sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    display:grid;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
        grid-gap: 1rem;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 100vh auto;
}
.cabecalho {
    grid-area: header;
    color: var(--cor-texto);
    margin: 0px 74px;
}
.cabecalho__header {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5%;
}
.cabecalho__titulo {
    font-family: var(--font-texto);
    font-size: 100px;
    font-weight: 700;
}
.cabecalho__titulo:hover {
    color: blue;
}

.cabecalho__paragrafo {
    font-family: var(--font-texto);
    font-size: 32px;
    font-weight: 400;
}

.cabecalho__links {
    display: flex;
    gap: 2%;
    padding: 1.5em 1.5em 1.5em 0em;
}
.cabecalho__link {
    font-family: var(--font-texto);
    font-size: 24px;
    font-weight: 300;
    color: var(--cor-texto);
    text-decoration: none;
}
.cabecalho__link:hover {
    background-color: whitesmoke;
}
.lateral {
    grid-area: aside;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
}
.principal {
    grid-area: main;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
}
.rodape {
    grid-area: footer;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    padding: 1rem;
}